.App {
	color: rgb(17, 17, 17);
	max-width: 740px;
	background-color: rgb(255, 255, 255);
	box-shadow: rgba(118, 143, 255, 0.1) 0px 16px 24px 0px;
	margin: 65px auto 45px;
	border-radius: 4.5px;
}

.App .ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}


/* Bubble Theme */
.App .ql-bubble .ql-editor {
  border-radius: 0.5em;
}

.App .ql-editor {
  min-height: 18em;
}

.themeSwitcher {
  margin-top: 0.5em;
  font-size: small;
}