*::selection {
  background: #fff1a6;
}
*::-moz-selection {
  background: #fff1a6;
}
*::-webkit-selection {
  background: #fff1a6;
}

.App .ql-container {
  color: #090909;
  max-width: 600px;
  margin: 65px auto 45px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  text-align: left;
}

/* Bubble Theme */
.App .ql-bubble .ql-editor {
  border-radius: 0.5em;
}

.ql-bubble .ql-tooltip {
  background-color: #090909;
}

.ql-bubble .ql-toolbar:not(.sideMenu) .ql-formats:nth-child(-n + 3) {
  display: none;
}

.ql-bubble .ql-toolbar.sideMenu {
  display: flex;
  justify-content: center;
}

.ql-bubble .ql-toolbar.sideMenu .ql-formats:nth-child(n + 3) {
  display: none;
}

.App .ql-editor {
  min-height: 18em;
  overflow-y: initial;
}

.App .ql-editor h1 {
  font-size: 42px;
  line-height: 57px;
  position: relative;
  margin-bottom: 24px;
}

.App .ql-editor h1:after {
  content: '';
  width: 36px;
  height: 1px;
  background: #d0d0d0;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.App .ql-editor h2 {
  font-size: 30px;
  line-height: 41px;
  padding-bottom: 24px;
  padding-top: 42px;
}

.App .ql-editor img {
  padding-top: 24px;
  padding-bottom: 12px;
}

.App .ql-editor ul {
  padding-top: 42px;
  padding-bottom: 12px;
}

.App .ql-editor li {
  padding-top: 42px;
  padding-bottom: 12px;
}

.App .ql-editor blockquote {
  border-left: 7px solid #090909;
  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
  margin: 0;
  padding-left: 18px;
}

.sideMenuButton {
  border-radius: 50%;
  background-color: #090909;
  color: white;
  height: 31px;
  width: 31px;
  border: none;
  opacity: 0.2;
  font-size: 25px;
}

.sideMenuButton:hover {
  opacity: 1;
}

.sideMenuButton:focus {
  outline: none;
}

/* clearfix for floated images of image-resize-module */
.App .ql-editor::after {
  display: table;
  clear: both;
  content: '';
}
